<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

      <div class="carousel-item active">
        <div class="carousel-container">
          <div class="animate__animated animate__fadeInDown">
          <img src="assets/img/name.png" class="img-fluid legend" alt=""></div>
          <p class="animate__animated animate__fadeInUp">Somos una empresa familiar dedicada a la comercialización de fertilizante orgánico derivado de anchoas y sardinas enteras y otras especies, pescadas a lo largo de las costas del Atlántico Sur, que a base de una concentración de “ENZIMAS ESPECÍFICAS” se logra un abono de excelente calidad por su alto contenido de nutrientes.</p>
        </div>
      </div>
    </div>
</section>
<app-services></app-services>
<app-table></app-table>
<app-about></app-about>
