 
	<section class="features">
		<div class="container">

			<div class="section-title">
				<h2>Las ventajas de Sagato</h2>
			</div>

			<div class="row" data-aos="fade-up">
				<div class="col-md-5">
					<img src="assets/img/about.jpg" class="img-fluid" alt="">
				</div>
				<div class="col-md-7 p-4">
					<h3>Los efectos Químicos:</h3>
					<ul>
						<li><i class="fa fa-check" aria-hidden="true"></i>
							La aplicación de abono tipo Sagato aumenta la cantidad y calidad de “Aniones y Cationes” utilizables para el crecimiento de las plantas.
						</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>
							Este aumento de nutrientes asimilables proceden en parte de la liberación de iones del abono orgánico y en parte de las sustancias que se hacen asimilables por solubilización de complejos minerales del suelo, debido a la acción de los “Ácidos Orgánicos” provenientes de la materia orgánica, obteniendo mayor disponibilidad de Calcio, Magnesio, Potasio, Manganeso, etc.
						</li>
					</ul>
				</div>
			</div>

			<div class="row" data-aos="fade-up">
				<div class="col-md-5 order-1 order-md-2 d-flex align-items-center">
					<img src="assets/img/siembra.jpg" class="img-fluid" alt="">
				</div>
				<div class="col-md-7 p-4 order-2 order-md-1">
					<h3>Los efectos Físicos:</h3>
					<p class="font-italic">
						Cuando en los terrenos compactos sufren una rápida descomposición, los bioabonos naturales tipo Sagato, mejora la estructura de los mismos y permiten mayor aireación mejorando la estructura y favoreciendo el desarrollo de las raíces y el crecimiento de las plantas.
					</p>
					<ul>
						<li><i class="fa fa-check" aria-hidden="true"></i>
							La aplicación de un bioabono natural mejora los terrenos sueltos y arenosos porque aumenta su capacidad de imbibición. 
						</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>
							Actúa como “Almacén” para los elementos nutritivos, pues los va liberando lentamente para que los asimilen las plantas en el desarrollo Radicular, Aéreo y de Frutos. 
						</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>
							Mejora la estructura física del terreno, lo hace menos compacto para la labranza, la absorción del agua de riego o lluvia y ayuda a una mejor retención de la humedad. 
						</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>
							Disminuye la formación de costras y terrones.
						</li>
					</ul>
				</div>
			</div>

			<div class="row" data-aos="fade-up">
				<div class="col-md-5 d-flex align-items-center">
					<img src="assets/img/hero-bg.jpg" class="img-fluid" alt="">
				</div>
				<div class="col-md-7 p-4">
					<h3>Los efectos Biológicos:</h3>
					<p>
						Estos efectos son más importantes que los efectos químicos y físicos. <br>
						La aplicación de Sagato FFC, aportan gran cantidad de microorganismo benéficos que actúan descomponiendo el HUMUS y las PROTEINAS, proporcionando a las raíces los alimentos necesarios para obtener buenas cosecha.
					</p>
					<ul>
						<li><i class="fa fa-check" aria-hidden="true"></i>
							Sagato FFC por ser ricos en HUMUS ESPECIAL, oscurecen el suelo y por consiguiente aumenta la absorción del calor de los rayos solares.
						</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>
							El ascenso de la temperatura del suelo es conveniente en aquellos lugares donde se desea adelantar la cosecha, adelantar la siembra u obtener un rápido desarrollo de los vegetales.
						</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>
							Los ácidos resultantes de los procesos de degradación de la materia orgánica, disuelven parte de los productos minerales del suelo y los hacen aprovechables para la nutrición de las plantas. 
							La acción microbiana favorece la desaparición del efecto residual de la aplicación de herbicidas y otros productos fitosanitarios. También reduce la necesidad de pesticidas químicos, al producir plantas saludables que son menos susceptibles a plagas de insectos, enfermedades y heladas.
						</li>
					</ul>
				</div>
			</div>

			<div class="row" data-aos="fade-up">
				<div class="col-md-5 order-1 order-md-2 d-flex align-items-center">
					<img src="assets/img/hero-337.jpg" class="img-fluid" alt="">
				</div>
				<div class="col-md-7 p-4 order-2 order-md-1">
					<h3>Ventajas Agronómicas:
					</h3>
					<p class="font-italic">
						Ayuda a que menos nutrientes se pierdan por fijación (El proceso que consiste en combinar el nitrógeno atmosférico con hidrógeno para formar amoniaco) , lixiviación (proceso de lavado que realiza el agua que se infiltra en el suelo) y volatilización (evaporación). Además de NPK cuenta con todo los nutrientes y micronutrientes, en cantidades necesarias para mejores cosechas. <br>
					</p>
					<ul>
						<li><i class="fa fa-check" aria-hidden="true"></i>
							No “quema” las Semillas, Raíces y Plantas. Así mismo crea un efecto residual notable, lo cual alcanza a varias cosechas. 
						</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>
							El valor real del abono orgánico Sagato  se manifiesta en la obtención de productos agrícolas sin contaminación, más durabilidad, más sanos, de mejor sabor y olor y de mejor calidad aumentando la cantidad y calidad de proteínas de los frutos. 
						</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>
							Mantienen y crean la vida microbiana en la tierra. <br>
						</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>
							Dan más tipos de nutrientes en un estado en que las raíces los pueden tomar logrando condiciones más favorables para la germinación de las semillas y para el desarrollo y crecimiento de la raíz aumentando el grueso de los tallos y tamaño de los frutos. <br>
						</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>
							Si la tierra es dura la hace más suave. <br>
						</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>
							Si la tierra es arenosa la hace más firme. <br>
						</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>
							Ayudan a retener el agua de lluvia. <br>
						</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>
							Afirman los colores de tallos, hojas y frutos. <br>
						</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>
							Los nutrientes permanecen por 2 ó 3 años en la parcela.	Aumentan las cosechas.
						</li>
					</ul>
				</div>
			</div>
			<div class="row" data-aos="fade-up">
				<div class="col-md-5 d-flex align-items-center">
					<img src="assets/img/semillas-plantas.png" class="img-fluid" alt="">
				</div>
				<div class="col-md-7 p-4">
					<h3>Ventajas en Terrenos:</h3>
					<p>
						Todos sabemos que al transcurrir el tiempo y al desgaste que sufre su terreno cada año por cada cosecha, los terrenos son siempre menos fértiles, debido al progresivo agotamiento de las reservas de humus y a la acelerada mineralización, causada por el abuso en la utilización de abonos químicos y pesticidas, que con sus residuos tóxicos, han alterado poco a poco los suelos agrícolas que es el equilibrio microbiológico y también es la base de los procesos naturales de la fertilidad. Los cloruros presentes en los abonos químicos y muy utilizados en los últimos decenios, además de empeorar la estructura física de los suelos, interfiere en los procesos de absorción, impidiendo a las plantas cultivadas asimilar Calcio, Magnesio, Hierro, Zinc y otros elementos.
					</p>
					<ul>
						<li><i class="fa fa-check" aria-hidden="true"></i>
							Estas carencias nutricionales se reflejan después en la calidad de sus frutos y o productos, los cuales serán mas pobres de sabor y de poder nutritivo que luego serán desechados por los compradores y consumidores.
						</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>
							Es por eso que se debe incorpora al terreno producto natural con alta concentración de materia orgánica como Sagato FFC.
						</li>
					</ul>
				</div>
			</div>
			<div class="row" data-aos="fade-up">
				<div class="col-md-5 order-1 order-md-2 d-flex align-items-center">
					<img src="assets/img/hero-2.jpg" class="img-fluid" alt="">
				</div>
				<div class="col-md-7 p-4 order-2 order-md-1">
					<h3>En Almacigos:</h3>
						<ul>
							<li><i class="fa fa-check" aria-hidden="true"></i>
								Se obtiene una rápida germinación de las semillas y un crecimiento sano y acelerado de los plantines.
							</li>
						</ul>
					<h3>En Transplantes:</h3>
					<ul>
						<li><i class="fa fa-check" aria-hidden="true"></i>
							Evita el “shock” del transplante.
						</li>

						<li><i class="fa fa-check" aria-hidden="true"></i>
							La planta llega a plena madurez antes, sus flores son mas coloreadas y perfumadas, y sus frutos son mas coloreados y enriquecidos.
						</li>
						<li><i class="fa fa-check" aria-hidden="true"></i>
							Su aplicación rebaja hasta un 40% los costos de fertilización.
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>