   <!-- ======= Services Section ======= -->
   <section class="services">
    <div class="container">

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
          <div class="icon-box icon-box-yellow">
            <div class="icon"><i class="fa fa-flask" aria-hidden="true"></i></div>
            <h4 class="title"><a href="">Características</a></h4>
            <p class="description">
              Sagato es un polvo de color marrón claro a oscuro y con fuerte olor a pescado, seco y corredizo. <br>
              Es un poderoso fertilizante orgánico que lo convierten también al igual que el Guano de Isla Puro y de Exportación, en el fertilizante orgánico más completo del mundo.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box icon-box-cyan">
            <div class="icon"><i class="fa fa-sun-o" aria-hidden="true"></i></div>
            <h4 class="title"><a href="">Propiedades</a></h4>
            <p class="description">
              Es totalmente natural y no contiene productos químicos. <br>
              Es un producto rico en proteínas y minerales como también en NPK y Calcio. <br>
              Biodegradable. <br>
              Soluble en agua y de fácil asimilación por las plantas. <br>
              Es de “Lenta degradación”.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box icon-box-green">
            <div class="icon"><i class="fa fa-leaf" aria-hidden="true"></i></div>
            <h4 class="title"><a href="">Orgánico</a></h4>
            <p class="description">              
              Es el único abono orgánico con fibra bacteriana (40 a 60 millones de microorganismos por c.c.), capaz de enriquecer y regenerar las tierras, es por eso que incrementa la actividad microbiana del terreno.
              No requiere agregados.
              </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box icon-box-blue">
            <div class="icon"><i class="fa fa-pagelines" aria-hidden="true"></i></div>
            <h4 class="title"><a href="">Ecológico</a></h4>
            <p class="description">
              Es un recurso natural renovable. <br>
              Es totalmente ecológico. <br>
              Protege el medio ambiente y ecosistema por lo mismo que es natural. <br>
              No deteriora los suelos ni los convierte en tierra salitrosas, más bien las enriquece.
              </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->