<section class="testimonials" data-aos="fade-up">
  <div class="container">
    <div class="section-title my-3 p-3">
      <h2>Importancia De Los Abonos Orgánicos</h2>
      <p>
        Es importante por la Materia Orgánica que contiene, que es uno de los componentes principales para el desarrollo de las plantas que conjuntamente con los demás componentes que es el NPK y otros nutrientes van a cerrar el ciclo de vida de las plantas. <br>
        Los terrenos cultivados sufren la pérdida de una gran cantidad de nutrientes, lo cual puede agotar la Materia Orgánica del suelo, por esta razón se deben restituir permanentemente. <br>
        Los productos Orgánicos frescos contienen 30% más de proteínas, vitaminas, minerales y otros micronutrientes necesarios para la salud.
      </p>
    </div>
    <div class="section-title my-3 pt-3">
      <h2>Importancia De Las Proteinas</h2>
      <p>
        Son los más importantes compuestos NITROGENADOS de la Naturaleza. <br>
        Las proteínas que contienen el abono Sagato FFC son hidrolizados por enzimas del suelo y liberan el aminoácidos que por oxidación biológica ceden nitrógeno a las raíces de las plantas en forma de Amoniaco o Nitrógeno elemental. <br>
        Las proteínas al descomponerse en el suelo producen: Aminoácidos y dos Aminas, Ácidos muy importantes que son: La Esparraguina y la Glutamina a partir de las cuales se forman nuevamente proteínas dentro de los vegetales.El ABONO DE PESCADO, es el BIO abono más completo en Proteínas.
      </p>
    </div>
    <div class="section-title my-3 pt-3">
      <h2>Otras Materias Orgánicas</h2>
      <p>
        Los desechos como estiércol, gallinaza, rastrojos de cultivos, residuos de hortalizas, etc., para ser usados como materia orgánica, deben ser descompuestos en un proceso llamado compostaje. <br>
        Este es un proceso de fermentación que hace alcanzar a las pilas, altas temperaturas que eliminan gérmenes patógenos. Este proceso tiene como duración 6 largos meses de preparación que luego, se convierta en compost para utilizarlo mas que nada en mejorador de suelo y muy poco como materia orgánica por su pobre concentración de la misma.
        Sagato FFC al ser mezclados con estos desechos ayuda a acelerar la descomposición en 1 mes a la proporción de 3 de desecho a 1 de Sagato FFC.Sagato FFC, ya está descompuesto.
      </p>
    </div>
    <div class="section-title my-3 pt-3">
      <h2>Lombrices De Tierra</h2>
      <p>
        La lombriz de tierra es un animal con un organismo adecuado para biodegradar desechos orgánicos. <br>
        Es muy voraz, prolífico y dócil, capaz de vivir en grandes concentraciones y adaptable a distintos climas. <br>
        La importancia de la lombriz de tierra bajo la superficie del terreno, acelera el proceso de oxidación y la nitrificación del suelo. <br>
        Esta operación permite la penetración y retención de agua necesaria para dar humedad al terreno. <br>
        La acción química que realiza la lombriz, de reciclar desechos orgánicos convirtiéndolos en humus, sirve para enriquecer la fertilidad del suelo. br
        Aprovecha para alimentarse de cualquier residuo rico en Materia Orgánica como Sagato FFC. No comen las raíces de las plantas mientras estén vivas, por lo que no perjudican los cultivos.Del alimento ingerido por la lombriz, cerca del 60% es convertido en humus o excremento de lombriz, y el 40% restante, es asimilado y utilizado como fuente de energía para sus propias funciones vitales.
      </p>
    </div>
    <div class="section-title my-3 pt-3">
      <h2>Medio Ambiente</h2>
      <p>
        En nuestro país existe un uso inadecuado e irracional de pesticidas como preventivos, control de plagas y enfermedades, causando daños y contaminación del medio ambiente. <br>
        Según los nuevos estudios, ahora en día las personas en Argentina y en algunas partes del mundo el mayor número de fallecimientos se deben al cáncer. Lamentablemente la agricultura comercial no puede prescindir de los abonos químicos ya que tienen muchas ventajas, sobre todo, las de satisfacer los requerimientos nutricionales de las plantas cultivadas, pero, la toxicidad crónica almacenada en los frutos, es el argumento que esgrimen los naturalistas para solicitar su reducción. <br>
        El abuso en la utilización de nitrógeno ureico y nítrico determinan en los vegetales la formación de proteínas degradadas en cuanto son formadas por unos pocos aminoácidos, además los nitratos tienden a acumularse en los alimentos. <br>
        El consumo de nitratos se ha relacionado con el cáncer de estómago; los nitratos se reducen a nitritos por las bacterias del tubo digestivo, con producción de unas sustancias de efecto cancerígeno llamadas nitrosaminas. <br>
        Hoy en día, las espinacas contienen apenas una centésima parte de hierro que contenían 30 años atrás. todo esto se agrega el hecho de que los antiparasitarios, insecticidas, fungicidas, fitoreguladores sintéticos y herbicidas dejan siempre residuos más o menos tóxicos en la linfa de los productos agrícolas que cada día están presentes en nuestra mesa. <br>
        La poca duración en el almacenaje es decir un fruto sintético se malogra más rápido que un orgánico. Es por eso que ahora se este dando la preferencia a los productos orgánicos que tienen más durabilidad y menos toxicidad.
      </p>
    </div>
  </div>
</section>