<section class="mb-3 why-us" data-aos="fade-up" date-aos-delay="200">
  <div class="container mb-3">
    <div class="row">
      <div class="col" data-aos="fade-up">
        <div class="justify-content-between d-flex px-4">
          <span>Industria Argentina</span>
          <span>PESO NETO 450gr.</span>
        </div>
        <h2>SAGATO</h2>   
        <h5>FERTILIZANTE CONCENTRADO DE PESCADO</h5>   
          <table class="mb-4">
            <thead>
              <tr>
                <th rowspan="2">Materia Orgánica</th>
              </tr>
              <tr>
                <th rowspan="2">M. org.</th>
                <th rowspan="2">80-81</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Nitrógeno</td>
                <td>N</td>
                <td>10-11</td>
              </tr>
              <tr>
                <td>Fósforo</td>
                <td>P</td>
                <td>8-9</td>
              </tr>
              <tr>
                <td>Potasio</td>
                <td>K</td>
                <td>4-5</td>
              </tr>
              <tr>
                <td>Calcio</td>
                <td>Ca</td>
                <td>5-6</td>
              </tr>
              <tr>
                <td>Azufre</td>
                <td>S</td>
                <td>1-2</td>
              </tr>
              <tr>
                <td>Proteinas</td> 
                <td>......</td>
                <td>60-62</td>
              </tr>
              <tr>
                <td>Humedad</td>
                <td>H2O</td>
                <td>3-4</td>
              </tr>
              <tr>
                <td>Cenizas</td>
                <td>......</td>
                <td>10-20</td>
              </tr>
              <tr>
                <td class="bold">PH</td>
                <td>......</td>
                <td>6.9-7</td>
              </tr>
              <tr>
                <td class="bold">Elementos Menores</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
              </tr>
              <tr>
                <td>Hierro</td>
                <td>Fe</td>
                <td>0.85</td>
              </tr>
              <tr>
                <td>Zinc</td>
                <td>Zn</td>
                <td>0,000052</td>
              </tr>
              <tr>
                <td>Manganeso</td>
                <td>Mn</td>
                <td>0,000041</td>
              </tr>
              <tr>
                <td>Cobre</td>
                <td>Cu</td>
                <td>0,000005</td>
              </tr>

            </tbody>
          </table>
        <h5 class="mt-2">100% FERTILIZANTE ORGÁNICO MULTIPROPOSITO</h5>
      </div>
    </div>
  </div>
</section>